                                      &kp CC(N4) &trans &kp CC(N5) &kp CC(L)
                                      &trans     &trans &kp CC(N9) &kp CC(K)
            >;
        };
        // ================= F KEYS (MAC & WIN) =================
        mac_f_keys {
            bindings = <
&none       &kp F1              &kp F2          &kp F3          &kp F4        &kp F5                                                                                                                                                                                                                                                                                                                        &kp F6          &kp F7         &kp F8          &kp F9             &kp F10                    &kp LGUI
&kp TAB     &kp Q               &kp W           &kp E           &kp R         &kp T                                                                                                                                                                                                                                                                                                                         &kp Y           &kp U          &kp I           &kp O              &kp P                      &kp LEFT_BRACKET
&to_mac_l1  &ht_tog BLUE_MAC A  &kp S           &kp D           &ht_f_mac 0 F &kp G                                                                                                                                                                                                                                                                                                                         &kp H           &ht_kp LCTRL J &ht_kp INSERT K &ht_f3_f24 0 L     &lt_kp MAC_ZONES SEMICOLON &kp SQT
&kp F24     &kp Z               &kp X           &kp C           &kp V         &kp B                                                                                                                                                                                                                                                                                                                         &kp N           &kp M          &kp COMMA       &ht_kp END DOT     &kp LALT                   &kp MINUS
                                &msc SCRL_DOWN  &msc SCRL_UP                                                                                                                                                                                                                                                                                                                                                                                                                      &kp LEFT_BRACKET           &kp RIGHT_BRACKET
                                                                              &kp LSHIFT                                                                                                                                                                                                                                                                                                                                                                                                                 &trans
                                                                                              &trans    &none  &kp ESCAPE  &kp SPACE
                                                                                              &trans    &none  &kp RET     &kp BACKSPACE
            >;
        };
        win_f_keys {
            bindings = <
&none         &kp F1              &kp F2          &kp F3          &kp F4        &kp F5                                                                                                                                                                                                                                                                                                                        &kp F6          &kp F7         &kp F8          &kp F9             &kp F10                    &kp LCTRL
&kp TAB       &kp Q               &kp W           &kp E           &kp R         &kp T                                                                                                                                                                                                                                                                                                                         &kp Y           &kp U          &kp I           &kp O              &kp P                      &kp LEFT_BRACKET
&to_win_l1    &ht_tog BLUE_WIN A  &kp S           &kp D           &ht_f_win 0 F &kp G                                                                                                                                                                                                                                                                                                                         &kp H           &ht_kp LCTRL J &ht_kp INSERT K &ht_f3_f24 0 L     &lt_kp WIN_ZONES SEMICOLON &kp SQT
&trans        &kp Z               &kp X           &kp C           &kp V         &kp B                                                                                                                                                                                                                                                                                                                         &kp N           &kp M          &kp COMMA       &ht_kp END DOT     &kp LALT                   &kp MINUS
                                  &msc SCRL_DOWN  &msc SCRL_UP                                                                                                                                                                                                                                                                                                                                                                                                                        &kp LEFT_BRACKET           &kp RIGHT_BRACKET
                                                                                &kp LSHIFT                                                                                                                                                                                                                                                                                                                                                                                                                   &trans
                                                                                                &trans    &none  &kp ESCAPE  &kp SPACE
                                                                                                &trans    &none  &kp RET     &kp BACKSPACE
            >;
        };
    };
};
