behaviors {
        ht_tog: hold_tap_toggle {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <400>;
            bindings = <&tog>, <&kp>;
        };

        ht_kp: hold_tap_key {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ... (MAC слои остаются без изменений) ...

        // ================= WINDOWS LAYERS =================

        win_base {
            bindings = <
&none         &kp N1              &kp N2          &kp N3        &kp N4          &kp N5                               &kp N6         &kp N7       &kp N8            &kp N9             &kp N0                     &kp LEFT_CONTROL
&kp TAB       &kp Q               &kp W           &kp E         &kp R           &kp T                                &kp Y          &kp U        &kp I             &kp O              &kp P                      &kp LEFT_BRACKET
&to WIN_L1    &ht_tog BLUE_WIN A  &kp S           &kp D         &lt BLUE_WIN F  &kp G                                &kp H          &mt LCTRL J  &ht_kp INSERT K   &ht_kp END L       &ht_kp LEFT_ALT SEMICOLON  &kp SQT
&kp LEFT_WIN  &kp Z               &kp X           &kp C         &kp V           &kp B                                &kp N          &kp M        &kp COMMA         &kp DOT            &kp LEFT_ALT               &kp MINUS
                                  &msc SCRL_DOWN  &msc SCRL_UP                                                                                   &kp LEFT_BRACKET  &kp RIGHT_BRACKET
                                                                &kp LEFT_SHIFT                                                      &kp SLASH
                                                                                &kp LEFT_CONTROL  &none  &kp ESCAPE  &kp SPACE
                                                                                &none             &none  &kp RET     &kp BACKSPACE
            >;
        };

        // ... (Остальные слои без изменений) ...
